<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="carisma.carismacheck">
      <check
            description="Finds and highlights security critical elements in a business workflow."
            id="carisma.check.riskdetector"
            implementingClass="carisma.check.riskdetector.RiskDetectorCheck"
            magicKeys="bpmn,uml"
            name="Riskdetector Check"
            publisher=" KR "
            targetModelType="UML2,BPMN2">
         <parameter
               description="File which contains the Ontology to use"
               id="carisma.check.riskdetector.ontologyFile"
               name="Ontology"
               optional="false"
               type="InputFile">
         </parameter>
         <parameter
         		description="File which contains the ExtensionKind mapping"
         		id="carisma.check.riskdetector.extMapping"
         		name="ExtensionKind mapping"
         		optional="true"
         		type="InputFile">
         </parameter>
         <parameter
         		description="ExtensionKind mapping File-delimiter"
         		id="carisma.check.riskdetector.extDelimiter"
         		name="File-delimiter"
         		optional="true"
         		type="String">
         </parameter>
         <parameter
         		description="File which contains the origin mapping"
         		id="carisma.check.riskdetector.originMapping"
         		name="Origin mapping"
         		optional="true"
         		type="InputFile">
         </parameter>
         <parameter
         		description="Origin mapping File-delimiter"
         		id="carisma.check.riskdetector.originDelimiter"
         		name="File-delimiter"
         		optional="true"
         		type="String">
         </parameter>
      </check>
   </extension>
</plugin>
