<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="carisma.carismacheck">
      <check
            name="UMLchange Parser"
            implementingClass="carisma.evolution.uml2.umlchange.UMLchangeParserCheck"
            publisher="Daniel Warzecha"
            description="Parses models with UMLchange applications and generates Change Descriptions from them."
            targetModelType="UML2"
            id="carisma.evolution.uml2.umlchange.UMLchangeParserCheck">
         <postcondition
               providedKey="carisma.data.evolution.changes">
         </postcondition>
      </check>
   </extension>
</plugin>
