<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UMLsecenc.profile -->
      <package
            uri="http://www.umlsec.de/profiles/UMLsec/enc"
            class="carisma.profile.umlsec.enc.EncPackage"
            genModel="profile/UMLsecenc.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            iconpath="icons/Logo16x16.png"
            name="UMLsec.enc"
            path="pathmap://UMLsec/enc.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UMLsec/enc.uml"
            target="platform:/plugin/carisma.profile.umlsec.enc/profile/UMLsecenc.profile.uml">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="platform:/plugin/carisma.profile.umlsec.enc/profile/UMLsecenc.profile.uml#_O-KAkHoREeSmdNy69sdLYA"
            uri="http://www.umlsec.de/profiles/UMLsec/enc">
      </profile>
   </extension>

</plugin>
