<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UMLsec -->
      <package
            uri="http://www.umlsec.de/profiles/UMLsec/RABAC/emf"
            class="RABAC.RABACPackage"
            genModel="profile/RABAC.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UMLsec/RABAC.uml"
            target="platform:/plugin/carisma.profile.umlsec.rabac/profile/RABAC.profile.uml">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            iconpath="icons/Logo16x16.png"
            name="UMLsec.RABAC"
            path="pathmap://UMLsec/RABAC.uml">
      </profile>
   </extension>

</plugin>
