<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="carisma.carismacheck">
      <check
            implementingClass="carisma.check.statemachinepaths.StatemachinePathsCheck"
            name="statemachinepathscheck"
            publisher="Klaus Rudack"
            description="State Machine check."
            targetModelType="UML2"
            id="carisma.check.statemachinepaths">
      </check>
   </extension>
</plugin>
