<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="carisma.xutils.regulatory.ui.first.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="carisma.xutils.regulatory.ui.first.Perspective"
            fixed="true"
            id="carisma.xutils.regulatory.ui.first.Perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="carisma.xutils.regulatory.ui.first.application"
            description="© Babak"
            name="Hello RCP">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="carisma.xutils.regulatory.ui.first.application"
            name="DeployTest">
         <property
               name="appName"
               value="DeployTest">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="carisma.xutils.regulatory.ui.first.RegulationsView"
            id="carisma.xutils.regulatory.ui.first.Regulations"
            name="Regulations"
            restorable="true">
      </view>
      <view
            class="carisma.xutils.regulatory.ui.first.ConfigurationView"
            id="carisma.xutils.regulatory.ui.first.Configuration"
            name="Configuration"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.LoadHandler"
            id="carisma.xutils.regulatory.ui.handler.Load"
            name="Load">
      </command>
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.SaveHandler"
            id="carisma.xutils.regulatory.ui.handler.Save"
            name="Save">
      </command>
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.ExitHandler"
            id="carisma.xutils.regulatory.ui.handler.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.CreateConstraintHandler"
            id="carisma.xutils.regulatory.ui.handler.CreateConstraint"
            name="Create Constraint">
      </command>
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.AboutHandler"
            id="carisma.xutils.regulatory.ui.handler.About"
            name="About">
      </command>
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.GeneralRelationHandler"
            id="carisma.xutils.regulatory.ui.handler.GeneralRelation"
            name="GeneralRelation">
      </command>
      <command
            id="carisma.xutils.regulatory.ui.start"
            name="Babak Tool">
      </command>
      <command
            defaultHandler="carisma.xutils.regulatory.ui.handler.OpenCarismaPerspective"
            id="carisma.xutils.regulatory.ui.switchToCarismaMainPerspective"
            name="SwitchToCarisma">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="carisma.ui.eclipse.menuContribution.carisma"
               label="CARiSMA">
            <menu
                  id="carisma.ui.eclipse.menuContribution.carisma.regulatory"
                  label="Regulatory">
               <command
                     commandId="carisma.xutils.regulatory.ui.start">
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="carisma.core.Carisma.PLUGIN_ID">
                  <equals
                        value="carisma.core">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="carisma.xutils.regulatory.ui.handler.Load"
                  label="Load ..."
                  style="push">
            </command>
            <command
                  commandId="carisma.xutils.regulatory.ui.handler.Save"
                  label="Store"
                  style="push">
            </command>
            <separator
                  name="carisma.xutils.regulatory.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="carisma.xutils.regulatory.ui.handler.Exit"
                  label="Close"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="carisma.xutils.regulatory.ui.first.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="carisma.xutils.regulatory.ui.handler.CreateConstraint"
                  label="New Constraint"
                  style="push">
            </command>
            <command
                  commandId="carisma.xutils.regulatory.ui.handler.GeneralRelation"
                  label="General Relation"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="carisma.xutils.regulatory.ui.first.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="carisma.xutils.regulatory.ui.handler.About"
                  label="About"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="carisma.xutils.regulatory.ui.first.Perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="carisma.xutils.regulatory.ui.handler.OpenRegulationsUIHandler"
            commandId="carisma.xutils.regulatory.ui.start">
      </handler>
   </extension>

</plugin>
