<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="carisma.evolution.EvolutionCheckMapping" name="CARiSMA non Evolution Check" schema="schema/carisma.evolution.EvolutionCheckMapping.exsd"/>
   <extension
         point="carisma.carismacheck">
      <check
            description="Uses the DeltaFactory to produce Deltas from Registry input."
            id="carisma.evolution.DeltaFactoryCheck"
            implementingClass="carisma.evolution.DeltaFactoryCheck"
            name="Delta Calculator"
            publisher="TU Dortmund"
            targetModelType="UML2">
         <precondition
               requiredKey="carisma.data.evolution.changes">
         </precondition>
         <postcondition
               providedKey="carisma.data.evolution.deltas">
         </postcondition>
      </check>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="carisma.evolution.EvolutionCheckMapping">
      <check
            EvolutionCheckID="carisma.evolution.check"
            NonEvolutionCheckID="carisma.nonEvolution.check">
      </check>
   </extension>

</plugin>
