<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="carisma.clean.contribution1">
         <action
               label="Remove UMLsec from model"
               class="carisma.clean.popup.actions.RemoveUMLsec"
               menubarPath="carisma.ui.eclipse.menu1/group1"
               enablesFor="1"
               id="carisma.clean.CleanUMLsec">
         </action>
      </objectContribution>
   </extension>
</plugin>
