<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="carisma.carismacheck">
      <check
            description="Used to annotate CARiSMA models according to STS models"
            id="carisma.check.createHelpDocument"
            implementingClass="carisma.check.createhelpdocument.CreateHelpDocument"
            name="Create Help Document for STS mapping"
            publisher="Karsten Krämer"
            targetModelType="UML2">
         <parameter
               defaultValue="true"
               id="carisma.check.createHelpDocument.STSFileOrDB"
               name="Load STS Input from file (true) or DB (false)"
               optional="false"
               type="boolean">
         </parameter>
         <parameter
               description="XML File that contains STS properties"
               id="carisma.check.createHelpDocument.STSinput"
               name="STS Input from file"
               optional="true"
               type="InputFile">
         </parameter>
      </check>
   </extension>

</plugin>
