<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://carisma/modeltype/bpmn2/extended"
            class="carisma.modeltype.bpmn2.extended.ExtendedPackage"
            genModel="model/Extended.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="bpmn2extended"
            class="carisma.modeltype.bpmn2.extended.util.ExtendedResourceFactoryImpl"/>
   </extension>

</plugin>
