StereotypeComment{
	visible:true;
}

/*
StereotypeComment *{
	visible:true;
}*/

StereotypeComment Compartment {
	visible:true;
}
/*
StereotypeComment Compartment [type=LogicalConstraint] {
	visible:false;
}
*/

StereotypeComment Compartment[type=StereotypeBrace] {
	visible:false;
}

/*
Compartment[type=StereotypeCompartment] *{
	visible:false;
}
*/

Compartment[type=StereotypeCompartment]> [property=constraint],
Compartment[type=StereotypeCompartment]> [property=refinement],
Compartment[type=StereotypeCompartment]> [property=involvedParties],
Compartment[type=StereotypeCompartment]> [property=involvedAssets]{
	visible:false;
}

/*
Compartment[type=StereotypeCompartment]> [property=action] [value=""],
Compartment[type=StereotypeCompartment]> [property=action] [value=Null]{
	visible:false;
}
*/
/*
Compartment[type=StereotypeCompartment]>*[type=LogicalConstraint]{
	visible:false;
}*/
/*
Compartment[type=StereotypeCompartment] *{
	visible:true;
}
Compartment[type=StereotypeCompartment] *[type=LogicalConstraint]{
	visible:false;
}
*/