<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            iconpath="icons/Logo16x16.png"
            name="UMLsec"
            path="pathmap://UMLsec/UMLsec.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UMLsec/UMLsec.uml"
            target="platform:/plugin/carisma.profile.umlsec/profile/UMLsec.profile.uml">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="UMLsec.UMLsecPackage"
            genModel="profile/UMLsec.genmodel"
            uri="http://www.umlsec.de/profiles/UMLsec/emf">
      </package>
   </extension>
</plugin>
