<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RABAC.profile -->
      <package
            uri="http://www.umlsec.de/profiles/UMLsec/RABAC"
            class="carisma.profile.umlsec.rabac.RabacPackage"
            genModel="profile/RABAC.profile.genmodel"/>
   </extension>

</plugin>
