<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="carisma.carismacheck">
      <check
            description="Loads the model that will be used for the analysis and stores the result in the internal data model"
            id="carisma.check.processanalysis.loader.uml2activity"
            name="Loader for UML2 activity diagrams"
            implementingClass="carisma.check.processanalysis.loader.uml2activity.UML2ActivityLoader"
            publisher="SECSE Group, TU Dortmund"
            targetModelType="UML2">
  	      <postcondition
	      	  providedKey="carisma.data.processanalysis.process">
	      </postcondition>
      </check>
   </extension>
</plugin>
