<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="carisma.modeltype">
      <modeltype
            fileExtension="owl"
            loader="carisma.modeltype.owl2.OWL2ModelLoader"
            name="OWL2"
            nsURI="http://www.w3.org/2002/07/owl">
      </modeltype>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="carisma.modeltype.owl2.model.owl.OwlPackage"
            genModel="model/owl2.genmodel"
            uri="http:///owl.ecore">
      </package>
   </extension>

</plugin>
