<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ODRLCommonVocabulary -->
      <package
            uri="http:///ODRLCommonVocabulary.ecore"
            class="ODRLCommonVocabulary.ODRLCommonVocabularyPackage"
            genModel="profile/ODRLCommonVocabulary.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="platform:/plugin/carisma.profile.uconpolicycreation.odrl.common/profile/ODRLCommonVocabulary.profile.uml#platform:/plugin/carisma.profile.umlsec/profile/UMLsec.profile.uml#platform:/plugin/carisma.profile.umlsec/profile/UMLsec.profile.uml#_kGQWQDnkEeCyb9nmG-9Lpw"
            uri="http://www.umlsec.de/profiles/ODRLCommonVocabulary">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="ODRLCommonVocabulary"
            path="pathmap://PolicyCreation/ODRLCommonVocabulary.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PolicyCreation/ODRLCommonVocabulary.uml"
            target="platform:/plugin/carisma.profile.uconpolicycreation.odrl.common/profile/ODRLCommonVocabulary.profile.uml">
      </mapping>
   </extension>

</plugin>
