<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="carisma.carismacheck">
      <check
            description="Finds and highlights security critical elements in a business workflow."
            id="carisma.check.riskfinder"
            implementingClass="carisma.check.riskfinder.Check"
            magicKeys="bpmn,uml"
            name="Riskfinder Check"
            publisher="TH SW CW"
            targetModelType="UML2,BPMN2">
         <parameter
               description="File which contains the Ontology to use"
               id="carisma.check.riskfinder.ontologyFile"
               name="Ontology"
               optional="false"
               type="InputFile">
         </parameter>
         <parameter
               defaultValue="true"
               description="Expand list of activites with synonyms"
               id="carisma.check.riskfinder.synonymsOnly"
               name="Synonyms"
               optional="false"
               type="boolean">
         </parameter>
         <parameter
               description="File which contains stopwords"
               id="carisma.check.riskfinder.stopwordFile"
               name="Stopwords"
               optional="false"
               type="InputFile">
         </parameter>
         <parameter
               defaultValue="false"
               description="If true, all previously contained extensions are preserved, otherwise they will be replaced"
               id="carisma.check.riskfinder.append"
               name="Append"
               optional="false"
               type="boolean">
         </parameter>
         <parameter
               defaultValue="0"
               description="Minimal Score for Patterns to be listed"
               id="carisma.check.riskfinder.minscore"
               name="minScore"
               optional="false"
               type="int">
         </parameter>
         <parameter
               defaultValue="false"
               description="Add colours to examined model?"
               id="carisma.check.riskfinder.writeback"
               name="writeback"
               optional="false"
               type="boolean">
         </parameter>
         <parameter
               description="XML Output file for riskfinder result"
               id="carisma.check.riskfinder.xmlresultfile"
               name="xmlresultfile"
               optional="true"
               type="OutputFile">
         </parameter>
      </check>
      <check
            description="Finds and highlights security critical elements in a business workflow."
            id="carisma.check.riskfinder.new"
            implementingClass="carisma.check.riskfinder.exportnew.Check"
            magicKeys="bpmn,uml"
            name="New Riskfinder Test-Check"
            publisher="TH SW CW"
            targetModelType="UML2,BPMN2">
      </check>
   </extension>
   <extension
         id="carisma.check.dummy.help"
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
