<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.views">
		<view
			class="carisma.regulatory.ruleallocator.RuleAllocatorView"
			id="carisma.regulatory.ruleallocator.ruleallocatorview"
			name="Rule Allocator"
			restorable="true">
		</view>
	</extension>
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			name="CARiSMA Rule Allocator"
			class="carisma.regulatory.ruleallocator.Perspective"
			id="carisma.regulatory.ruleallocator.perspective">
		</perspective>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="menu:carisma.ui.eclipse.menu.carisma.regulatory">
     <command
           commandId="carisma.regulatory.ruleallocator.openperspective">
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeWorkbenchWindow.activePerspective">
              <equals
                    value="carisma.perspective">
              </equals>
           </with>
        </visibleWhen>
     </command>
		</menuContribution>
		<menuContribution
			allPopups="false"
			locationURI="menu:org.eclipse.ui.main.menu">
			<menu
				id="carisma.regulatory.ruleallocator.menu"
				label="File">
				<command
					commandId="carisma.regulatory.ruleallocator.openbpmnfile">
				</command>
				<command
					commandId="carisma.regulatory.ruleallocator.openruleelementfile">
				</command>
				<visibleWhen>
					<with
						variable="activeWorkbenchWindow.activePerspective">
						<equals
							value="carisma.regulatory.ruleallocator.perspective">
						</equals>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>	
	</extension>
	<extension 
		point="org.eclipse.ui.commands">
		<command
			id="carisma.regulatory.ruleallocator.openperspective"
			name="Open Rule Allocator Perspective">
		</command>
		<command
			id="carisma.regulatory.ruleallocator.openbpmnfile"
			name="Open BPMN File">
		</command>
		<command
			id="carisma.regulatory.ruleallocator.openruleelementfile"
			name="Open RuleElement File">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="carisma.regulatory.ruleallocator.OpenUIAction"
			commandId="carisma.regulatory.ruleallocator.openperspective">
			<enabledWhen>
				<with
					variable="activeWorkbenchWindow.activePerspective">
					<not>
						<equals
							value="carisma.regulatory.ruleallocator.perspective">
             			</equals>
					</not>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="carisma.regulatory.ruleallocator.LoadBPMNFileAction"
			commandId="carisma.regulatory.ruleallocator.openbpmnfile">
		</handler>
		<handler
			class="carisma.regulatory.ruleallocator.LoadRuleElementFileAction"
			commandId="carisma.regulatory.ruleallocator.openruleelementfile">
		</handler>
	</extension>
	
	<extension
         id="carisma.regulatory.ruleallocator.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="carisma.regulatory.ruleallocator.application"
            name="CARiSMA Rule Allocator">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="carisma.regulatory.ruleallocator.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="carisma.regulatory.ruleallocator.Application">
         </run>
      </application>
   </extension>
</plugin>
