<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://carisma/modeltype/bpmn2/extension"
            class="carisma.modeltype.bpmn2.extension.ExtensionPackage"
            genModel="model/Extension.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="carisma.modeltype.bpmn2.extension">
      </contexts>
   </extension>

</plugin>
